{% extends 'base.html' %}
{% load static %}

{% block title %} Average | {% endblock %}

{% block content %}
{% if average != None %}
<table class="table is-fullwidth">
    <thead>
        <tr>
            <th>Profession</th>
            <th>Average age</th>
        </tr>
    </thead>
    {% for prof,avg in average %}
    <tbody>
       
            <tr>
                <td id="profession">{{ prof }}</td>
                <td>{{ avg }}</td>
            </tr>
        
    </tbody>
    {% endfor %}
</table>
<div class="content">
    <button class="button is-dark is uppercase mt-4" ><a href="{% url 'csv_view' %}" id="worker-update">CSV</a></button>
</div>
{% else %}
<div class="column is-12 has-text-centered mt-6 mb-6">
    <h2 class="is-size-3">There are no records in the database</h2>
</div>
{% endif %}

{% endblock %}